tr:nth-child(1) {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
}

td {
    border: 1px solid black;
}

thead:nth-child(3) {
    border: none;
}