@media only screen and (min-width: 1000px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }

    /* Header large design */
    .navigation {
        display: flex;
        justify-content: center;

    }

    .navigation li {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
    }

    button {
        display: none;
    }

    #company {
        margin-bottom: 1em;
    }

    .home {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #hero {
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    /* Home page designs */
    #areas {
        grid-row: 2;
        grid-column: 1;
    }

    #drinks {
        grid-row: 2;
        grid-column: 2;
    }

    #contact {
        grid-row: 2;
        grid-column: 3;
        display: flex;
        flex-direction: column;
    }

    #phone-mail {
        max-width: 30%;
        margin-left: 5em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    #weather {
        grid-row: 3;
        grid-column: 1 / span 3;
    }

    #weather img {
        max-width: 40%;
    }

    #social-media {
        display: flex;
        flex-direction: row;
        grid-row: 4;
        grid-column: 1 / span 3;
        justify-content: center;
    }

    #social-media img {
        max-width: 100%;
    }

    .contact-info {
        padding: 0;
        font-size: smaller;
    }

    .about #contact img {
        max-width: 20%;
    } 
}