@media only screen and (min-width: 800px) {
    /* Medium Header Formatting */
    #company {
        font-size: x-large;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #hero h2 {
        font-size: xx-large;
        margin-top: 15%;
        margin-left: 7%;
    }

    /* Header medium formating */

    /* Home page specific */
    .home {
        display: grid;
    }

    #hero {
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    #social-media {
        grid-column: 1 / span 2;
    }

    #weather {
        display: grid;
        padding-left: 1em;
    }

    #cloud {
        grid-row: 1;
        grid-column: 1;
        margin-left: 20%;
        margin-top: 20%;
        max-width: 60%;
    }

    #today {
        grid-row: 1;
        grid-column: 2;
        margin-right: 50%;
    }

    .forecast {
        grid-row: 2;
        grid-column: 1 / span 2;
        display: flex;
    }

    #contact {
        display: grid;
    }

    #phone-mail {
        grid-row: 1;
        grid-column: 1;
        max-width: 100%;
        margin-left: 2em;
        margin-top: 5em;
    }

    .contact-info {
        grid-row: 1;
        grid-column: 2;
    }
}