#background {
    background-color: #6796a7;
}

#h1 {
    background-color: #3b674b;
    color: #8ab07e;
}

#h2 {
    background-color: #705e3f;
    color: #d8cb39;
}

#section {
    background-color: #8ab07e;
}

/*    Colors:
    Light Green: #8ab07e
    Brown: #705e3f
    Dark Green: #3b674b
    Light Blue: #6796a7
    Yellow: #d8cb39
    */