@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

h2, h1{
    font-family: 'Abyssinica SIL', serif;
}

#map {
    max-width: 50%;
}

nav {
	display: flex;
	flex-direction: column;
}

@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
}