
header {
	display: grid;
	background-color: #2F3DE0;
	padding-top: 5px;
	margin-bottom: -2em;
}

#castle {
	grid-row: 1;
	grid-column: 2;
	max-width: 100%;
	max-height: 75px;
	margin-bottom: 0;

}

header h1 {
	grid-row: 1;
	grid-column: 3;
	font-size: large;
	text-align: left;
	color: #F3F2EF;
	margin-bottom: 0px;
	margin-top: .05em;
}

.social-media {
	grid-row: 1;
	grid-column: 4;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #2F3DE0;
	padding: .5em;
}

.current-date {
	grid-row: 2;
	background-color: #000073;
	color: #FCD018;
	padding: 2px;
	margin-top: 0;
}

#hamButton {
	grid-row: 1;
	grid-column: 1;
	top: 5px;
	right: 5px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .3rem;
	margin-top: .5em;
	margin-left: .5em;
	margin-bottom: 0;
}

.navigation {
	list-style: none;
	background-color: black;
	grid-column: 1 / 5;
	margin: 0;
	padding: 0;
}

.navigation li {
	display: none;
}

.navigation li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #F3F2EF;
}

.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the responsive class is added and accounted for here */
.navigation.responsive li {
	display: block;
	width: 100%;
}

.navigation.responsive li a {
	display: block;
}

main {
	margin-top: 3em;
}

.announcement {
	text-align: center;
}

#events2 {
	display: none;
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-bottom: 100px;;
}

#events3 {
	display: none;
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#join {
	display: none;
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#spotlight3 {
	display: none;
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.hero-section img {
	max-width: 100%;
	aspect-ratio: auto;
}

.hero-with-text {
	position: relative;
	text-align: center;
}

#hero-text {
	position: absolute;
}

#news {
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#events1 {
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#weather {
	text-align: center;
	background-color: #2F3DE0;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
	box-shadow: 3px 3px 13px 3px #000073;
}

#news-release {
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#spotlight1 {
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#spotlight2 {
	border: solid black;
	margin: .5em;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer {
	background-color: #2F3DE0;
	text-align: center;
	margin-bottom: 0;
	padding-top: 5px;
	color: #F3F2EF;
}

#footer-logo {
	max-width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer a{
	color: #F3F2EF;
}

.copywrite {
	background-color: #000073;
	padding: .5em;
}