body {
    text-align: center;
}

main {
    background-color: #677FA3;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    border-bottom: 2px solid;
}

h2 {
    border-top: 2px solid;
    border-bottom: 2px solid;
}
